* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #0F0F0F;
}

main{
    width: 100%;
    min-height: 100vh;
    background-color: #0F0F0F;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 10px;
}

.top-container{
    background-color: #0F0F0F;
    position: fixed;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    padding-right: 22px;
    z-index: 9;
}

.nav-container{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}

.nav-start{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 2px;
}

.nav-start img{
    width: 35px;
    height: 30x;
}

.nav-start h2{
    font-weight: 400;
}

.nav-mid{
    width: 38%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #212121;
}

.search-bar{
    width: 85%;
    height: 100%;
    padding: 6px 20px;
    border-end-start-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #121212;
    border: 1px solid #212121;
    color: white;
}

.search-icon-container{
    width: 30px;
    height: 30px;
    color: white;
    background-color: #0F0F0F;
    border-radius: 50%;
    border: none;
}

.search-icon{
    font-weight: 600;
    cursor: pointer;
}

.mic-icon-container{
    width: 30px;
    height: 30px;
    padding: 6px 5px;
    color: white;
    background-color: #0F0F0F;
    border-radius: 50%;
    border: none;
}

.listening {
  color: red;
  border-radius: 50%;
}

.mic-icon{
    font-weight: 600;
    cursor: pointer;
}

.nav-end{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.bell-icon{
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

.profile-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: yellow;
    overflow: hidden;
    cursor: pointer;
}

.profile-icon img{
    width: 100%;
    height: 100%;
}

.tabs{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.tabs button{
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #272727;
    color: white;
    border: none;
    cursor: pointer;
}

.hero-container{
    padding: 85px 0px;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    flex-wrap: wrap;
    overflow: hidden;
}

.video-container{
    width: 33%;
    margin-top: 25px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.video-container:hover{
    background-color: #2E1F18;
    cursor: pointer;
    scale: 1.025;
}

.video-img{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}

.video-info{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.creator-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.creator-logo img{
    width: 100%;
    height: 100%;
}

.video-description{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.video-description h4{
    color: #848484;
    font-size: smaller;
}

.time-info{
    display: flex;
    gap: 10%;
}